.default {
  padding: 30px;
}

.countriesList div {
  padding: 5px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

input {
  width: 100%;
  height: 70px;
  background-color: transparent;
  backdrop-filter: blur(22px);
  color: white;
  padding: 0px 15px;
  border: none;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.198);
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.198);
  text-align: center;
  font-size: 1rem;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-size: 1rem;
}

.name {
  padding: 20px;
}

.description {
  text-transform: capitalize;
}
